<div class="feature-images-wrapper position-relative">
    <div class="grid-wrapper">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
        <div class="line line-4"></div>
    </div>
    <div class="swiper-container service-slider__container">
        <div class="swiper-wrapper service-slider__wrapper feature-images__three">
            <div class="swiper-slide">
                <!-- ht-box-icon Start -->
                <a href="#" class="ht-box-images style-03 wow move-up">
                    <div class="image-box-wrap">
                        <div class="box-image">
                            <img class="img-fulid" src="assets/images/icons/mitech-processing-service-image-01-80x83.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="heading">Business Reform </h5>
                            <div class="text">We propose feasible &amp; practical plans for successfully transform businesses based on.</div>
                        </div>
                    </div>
                </a>
                <!-- ht-box-icon End -->
            </div>
            <div class="swiper-slide">
                <!-- ht-box-icon Start -->
                <a href="#" class="ht-box-images style-03 wow move-up">
                    <div class="image-box-wrap">
                        <div class="box-image">
                            <img class="img-fulid" src="assets/images/icons/mitech-processing-service-image-02-80x83.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="heading">Infrastructure Plan</h5>
                            <div class="text">Mitech takes into account all conditions and budgets needed for building infrastructure plan.</div>
                        </div>
                    </div>
                </a>
                <!-- ht-box-icon End -->
            </div>
            <div class="swiper-slide">
                <!-- ht-box-icon Start -->
                <a href="#" class="ht-box-images style-03 wow move-up">
                    <div class="image-box-wrap">
                        <div class="box-image">
                            <img class="img-fulid" src="assets/images/icons/mitech-processing-service-image-03-80x83.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="heading">Firewall Advancement</h5>
                            <div class="text">Enhancing the strength and security of firewalls to protect online data from malicious sources.</div>
                        </div>
                    </div>
                </a>
                <!-- ht-box-icon End -->
            </div>
            <div class="swiper-slide">
                <!-- ht-box-icon Start -->
                <a href="#" class="ht-box-images style-03 wow move-up">
                    <div class="image-box-wrap">
                        <div class="box-image">
                            <img class="img-fulid" src="assets/images/icons/mitech-processing-service-image-04-80x83.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="heading">Desktop Computing</h5>
                            <div class="text">Programming is taken care of by our experienced and professional specialist in IT management.</div>
                        </div>
                    </div>
                </a>
                <!-- ht-box-icon End -->
            </div>
            <div class="swiper-slide">
                <!-- ht-box-icon Start -->
                <a href="#" class="ht-box-images style-03 wow move-up">
                    <div class="image-box-wrap">
                        <div class="box-image">
                            <img class="img-fulid" src="assets/images/icons/mitech-processing-service-image-05-80x83.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="heading">Firewall Advancement</h5>
                            <div class="text">Programming is taken care of by our experienced and professional specialist in IT management.</div>
                        </div>
                    </div>
                </a>
                <!-- ht-box-icon End -->
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-service section-space--mt_30"></div>
    </div>
</div>