<div class="service-projects-wrapper section-space--ptb_100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-wrap text-center section-space--mb_60">
                    <h6 class="section-sub-title mb-20">Latest news</h6>
                    <h3 class="heading">Latest news are <span class="text-color-primary">on top all times</span></h3>
                </div>
            </div>
        </div>
        <div class="latest-news-wrap">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-blog-lg-item wow move-up">
                        <!-- Post Feature Start -->
                        <a href="blog-post-layout-one.html">
                            <div class="post-blog-thumbnail">
                                <img class="img-fluid" src="assets/images/blog/blog-03-540x330.jpg" alt="Blog Images">
                                <div class="post-meta mt-20">
                                    <div class="post-author">
                                        <img class="img-fluid avatar-96" src="assets/images/team/admin.jpeg" alt=""> Harry Ferguson
                                    </div>
                                    <div class="post-date">
                                        <span class="far fa-calendar meta-icon"></span>
                                        January 18, 2019
                                    </div>
                                </div>

                            </div>
                        </a>
                        <!-- Post Feature End -->

                        <!-- Post info Start -->
                        <div class="post-info lg-blog-post-info mt-20">
                            <h4 class="post-title">
                                <a href="blog-post-layout-one.html">5 Ways Technology Has Improved Business Today</a>
                            </h4>
                            <div class="post-excerpt mt-15">
                                <p>They play a role in making operations more seamless, bridging the gap between authorities, consumers and businesses. …</p>
                            </div>
                            <div class="btn-text mt-15">
                                <a href="#">Read more <i class="ml-1 button-icon far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <!-- Post info End -->
                    </div>
                </div>
                <div class="col-lg-6 blog-list-service">
                    <div class="single-blog-lg-list wow move-up">
                        <!-- Post Feature Start -->
                        <a href="blog-post-layout-one.html">
                            <div class="post-blog-thumbnail">
                                <img class="img-fluid" src="assets/images/blog/blog-01-480x312.jpg" alt="Blog Images">
                                <div class="post-meta mt-20">
                                    <div class="post-author">
                                        <img class="img-fluid avatar-96" src="assets/images/team/admin.jpeg" alt=""> Harry Ferguson
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Post Feature End -->

                        <!-- Post info Start -->
                        <div class="post-info lg-blog-post-info">
                            <div class="post-meta mb-10">
                                <div class="post-date">
                                    <span class="far fa-calendar meta-icon"></span>
                                    January 18, 2019
                                </div>
                            </div>
                            <h5 class="post-title">
                                <a href="blog-post-layout-one.html">Ideas for High Returns on Investment</a>
                            </h5>
                        </div>
                        <!-- Post info End -->
                    </div>
                    <div class="single-blog-lg-list wow move-up">
                        <!-- Post Feature Start -->
                        <a href="blog-post-layout-one.html">
                            <div class="post-blog-thumbnail">
                                <img class="img-fluid" src="assets/images/blog/blog-08-480x312.jpg" alt="Blog Images">
                                <div class="post-meta mt-20">
                                    <div class="post-author">
                                        <img class="img-fluid avatar-96" src="assets/images/team/admin-02.jpeg" alt=""> Harry Ferguson
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Post Feature End -->

                        <!-- Post info Start -->
                        <div class="post-info lg-blog-post-info">
                            <div class="post-meta mb-10">
                                <div class="post-date">
                                    <span class="far fa-calendar meta-icon"></span>
                                    February 21, 2019
                                </div>
                            </div>
                            <h5 class="post-title">
                                <a href="blog-post-layout-one.html">How Technology Made Businesses More Efficient</a>
                            </h5>
                        </div>
                        <!-- Post info End -->
                    </div>
                    <div class="single-blog-lg-list wow move-up">
                        <!-- Post Feature Start -->
                        <a href="blog-post-layout-one.html">
                            <div class="post-blog-thumbnail">
                                <img class="img-fluid" src="assets/images/blog/blog-07-480x312.jpg" alt="Blog Images">
                                <div class="post-meta mt-20">
                                    <div class="post-author">
                                        <img class="img-fluid avatar-96" src="assets/images/team/admin-02.jpeg" alt=""> Harry Ferguson
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Post Feature End -->

                        <!-- Post info Start -->
                        <div class="post-info lg-blog-post-info">
                            <div class="post-meta mb-10">
                                <div class="post-date">
                                    <span class="far fa-calendar meta-icon"></span>
                                    January 18, 2019
                                </div>
                            </div>
                            <h5 class="post-title">
                                <a href="blog-post-layout-one.html">Data Secure on Transitioning to a New Office</a>
                            </h5>
                        </div>
                        <!-- Post info End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
