<div class="page">
  <app-pre-loader></app-pre-loader>
  <app-header></app-header>  
  <div id="main-wrapper">
  <div class="site-wrapper-reveal section-space--pt__120">
  <app-service-hero></app-service-hero> 
  <app-features></app-features>
  <app-company-history></app-company-history>
  <app-features-icon></app-features-icon>
  <app-gradation-process></app-gradation-process>
  <app-call-to-action></app-call-to-action>
  <app-service-projects></app-service-projects>
  <app-pricing-table></app-pricing-table>
  <app-service-projects2></app-service-projects2>
  <app-contact-us></app-contact-us>
  <app-brand-logo-slider></app-brand-logo-slider>  
  </div>
  <app-footer></app-footer>
  </div>
  <app-scroll-top></app-scroll-top> 
  <app-mobile-menu-overlay></app-mobile-menu-overlay>
</div>