
    <!-- <div id="main-wrapper">
        <div class="site-wrapper-reveal section-space--pt__120"> -->
            <!--============ Service Hero Start ============-->
            <div class="service-hero-wrapper service-hero-space service-hero-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                            <div class="service-hero-wrap wow move-up">
                                <div class="service-hero-text text-center">
                                    <h3 class="text-white">Responsive Design </h3>
                                    <h1 class="font-weight--reguler text-white mb-30">for IT Services</h1>

                                    <div class="service-solution-form-wrap mr-auto ml-auto">
                                        <form action="#" method="post">
                                            <div class="hero-select-form">
                                                <div class="contact-select">
                                                    <div class="form-item contact-inner">
                                                        <span class="inquiry">
                                                <select class="select-item">
                                                    <option value="Your inquiry about">How can we help you?</option>
                                                    <option value="General Information Request">It Services</option>
                                                    <option value="Partner Relations">Managed IT Services</option>
                                                </select>
                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <p class="text-white">Highly Tailored IT Design, Management & Support Services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>