<div class="pricing-table-area section-space--pb_70 bg-gradient">
    <div class="pricing-table-title-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-wrapper text-center section-space--mb_60 wow move-up">
                        <h6 class="section-sub-title mb-20">Pricing and plan</h6>
                        <h3 class="section-title">1 monthly fee for <span class="text-color-primary">all IT services.</span> </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing-table-content-area">
        <div class="container">
            <div class="row pricing-table-one">
                <div class="col-12 col-md-6 col-lg-4 col-xl-4 pricing-table wow move-up">
                    <div class="pricing-table__inner">
                        <div class="pricing-table__header">
                            <h6 class="sub-title">Basic</h6>
                            <div class="pricing-table__image">
                                <img src="assets/images/icons/mitech-pricing-box-icon-01-90x90.png" class="img-fluid" alt="">
                            </div>
                            <div class="pricing-table__price-wrap">
                                <h6 class="currency">$</h6>
                                <h6 class="price">19</h6>
                                <h6 class="period">/mo</h6>
                            </div>
                        </div>
                        <div class="pricing-table__body">
                            <div class="pricing-table__footer">
                                <a href="#" class="ht-btn ht-btn-md ht-btn--outline">Get started</a>
                            </div>
                            <ul class="pricing-table__list text-left">
                                <li>03 projects</li>
                                <li>Quality &amp; Customer Experience</li>
                                <li><span class="featured">Try for free, forever!</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-4 pricing-table pricing-table--popular wow move-up">
                    <div class="pricing-table__inner">
                        <div class="pricing-table__feature-mark">
                            <span>Popular Choice</span>
                        </div>
                        <div class="pricing-table__header">
                            <h6 class="sub-title">Professional</h6>
                            <div class="pricing-table__image">
                                <img src="assets/images/icons/mitech-pricing-box-icon-02-88x88.png" class="img-fluid" alt="">
                            </div>
                            <div class="pricing-table__price-wrap">
                                <h6 class="currency">$</h6>
                                <h6 class="price">59</h6>
                                <h6 class="period">/mo</h6>
                            </div>
                        </div>
                        <div class="pricing-table__body">
                            <div class="pricing-table__footer">
                                <a href="#" class="ht-btn  ht-btn-md ">Get started</a>
                            </div>
                            <ul class="pricing-table__list text-left">
                                <li>Unlimited project</li>
                                <li>Power And Predictive Dialing</li>
                                <li>Quality &amp; Customer Experience</li>
                                <li>24/7 phone and email support</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-4 pricing-table wow move-up">
                    <div class="pricing-table__inner">
                        <div class="pricing-table__header">
                            <h6 class="sub-title">Professional</h6>
                            <div class="pricing-table__image">
                                <img src="assets/images/icons/mitech-pricing-box-icon-03-90x90.png" class="img-fluid" alt="">
                            </div>
                            <div class="pricing-table__price-wrap">
                                <h6 class="currency">$</h6>
                                <h6 class="price">29</h6>
                                <h6 class="period">/mo</h6>
                            </div>
                        </div>
                        <div class="pricing-table__body">
                            <div class="pricing-table__footer">
                                <a href="#" class="ht-btn ht-btn-md ht-btn--outline">Get started</a>
                            </div>
                            <ul class="pricing-table__list text-left">
                                <li>10 projects</li>
                                <li>Power And Predictive Dialing </li>
                                <li>Quality &amp; Customer Experience </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
